@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}
.text-shadow-title{
  text-shadow:1px 1px 2px rgb(0, 0, 0);
}
/* MOUSE SCROLL VERS LE HAUT */
@-webkit-keyframes mouse-scroll-up {
  0% {
    top: 30%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 10%;
    opacity: 0;
  }
}

.pageContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #009473, #5F4B8B);
}

.main {
  text-align: center;
}

.gradientText {
  font-size: 72px;
  background: linear-gradient(to bottom, #009473, #F5DF4D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Augmentez la durée de la transition pour une animation plus lente */
.text-hover:hover + .image-animate {
  transform: scale(15);
  transition: transform 5s ease; 
}

.image-animate {
  transition: transform 5s ease; 
  transform: scale(1); 
}

@-moz-keyframes mouse-scroll-up {
  0% {
    top: 30%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 10%;
    opacity: 0;
  }
}
@-o-keyframes mouse-scroll-up {
  0% {
    top: 30%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 10%;
    opacity: 0;
  }
}
@keyframes mouse-scroll-up {
  0% {
    top: 30%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 10%;
    opacity: 0;
  }
}
/* MOUSE SCROLL CLASSIQUE */
@-webkit-keyframes mouse-scroll {
  0% {
    top: 10%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 30%;
    opacity: 0;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    top: 10%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 30%;
    opacity: 0;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    top: 10%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 30%;
    opacity: 0;
  }
}
@keyframes mouse-scroll {
  0% {
    top: 10%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 30%;
    opacity: 0;
  }
}

.scroll-msg-inner {
  width: 34px;
  height: 68px;
  position: relative;
  border-radius: 34px;
}

.scroll-msg-wheel {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  border-radius: 50%;
  -webkit-animation: mouse-scroll 0.9s infinite;
  -moz-animation: mouse-scroll 0.9s infinite;
  -o-animation: mouse-scroll 0.9s infinite;
  animation: mouse-scroll 0.9s infinite;
}

.scroll-up-msg-wheel {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  border-radius: 50%;
  -webkit-animation: mouse-scroll-up 0.9s infinite;
  -moz-animation: mouse-scroll-up 0.9s infinite;
  -o-animation: mouse-scroll-up 0.9s infinite;
  animation: mouse-scroll-up 0.9s infinite;
}
